# The differences between this workflow and the standard release are that no
# upload to wowinterface occurs, since it lacks support for processing any
# alpha/beta releases separately.
name: Package (Pre-release)
on:
  push:
    tags:
      - '**-alpha**'
      - '**-beta**'

jobs:
  build:
    if: github.repository_owner == 'Raenore'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Create Package
        uses: BigWigsMods/packager@v2
        with:
          args: -w 0
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
